@charset "UTF-8";

@font-face {
    font-family: 'Inconsolata';
    src: url(assets/fonts/Inconsolata-VariableFont_wdth\,wght.ttf);
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html,
body {
    color: white;
    font-family: 'Inconsolata';
    background: url(assets/images/pattern-lines.svg), url(assets/images/pattern-squiggly-line-top.svg), url(assets/images/pattern-circle.svg), url(assets/images/pattern-squiggly-line-bottom-mobile-tablet.svg), url(assets/images/background-mobile.png);
    background-repeat: no-repeat;
    background-size: 160vh, 20%, 20%, 75%, cover;
    background-position: left top, 90% 2%, 110% 60%, left bottom;
}

header {
    text-align: center;
}

header>img {
    margin-top: 30px;
}

header>div.apresentacao {
    text-align: center;
    padding: 10px;
}

header>div.apresentacao>h1 {
    margin: 10px;
    padding: 10px;
}

header>div.apresentacao>p {
    margin: 10px;
    padding: 10px;
}

main {
    width: 450px;
    overflow: hidden;
    padding: 10px;
    margin: auto;
}

div.upload {
    width: 100%;
    height: 150px;
    margin: 15px 0px;
    
}

div.upload>div#imageContainer {
    padding: 7px 0px;
    display: block;
    text-align: center;
    background-color: hsla(252, 6%, 83%, 0.137);
    border: 2px dashed hsla(252, 6%, 83%, 0.397);
    border-radius: 10px;
    height: 100%;
    position: relative;
}

div.upload>div#imageContainer:hover {
    background-color: hsla(252, 6%, 83%, 0.26);
    cursor: pointer;
}

div.upload>div#imageContainer>img {
    background-color: hsla(252, 6%, 83%, 0.247);
    border: 2px solid hsla(252, 6%, 83%, 0.336);
    border-radius: 10px;
    width: 40px; 
    position: absolute;     
    top: 35%;
    left: 45%;
}

div.upload>input#uploadImage {
    display: none;
}


div.upload>div#imageContainer>input#rpos {
    margin: 10px 5px;
    background-color: hsla(252, 6%, 83%, 0.247);
    color: white;
    border: 1px solid hsla(252, 6%, 83%, 0.247);
    border-radius: 5px;
    height: 27px;
    padding: 5px;
    position: absolute;
    top: 65%;
    left: 23%;
    display: none;
}

div.upload>div#imageContainer>input#rpos:hover {
    cursor: pointer;
    background-color: hsla(252, 6%, 83%, 0.418);
    text-decoration: underline;
}

div.upload>div#imageContainer>input#cpos {
    margin: 10px 5px;
    background-color: hsla(252, 6%, 83%, 0.247);
    color: white;
    border: 1px solid hsla(252, 6%, 83%, 0.247);
    border-radius: 5px;
    height: 27px;
    padding: 5px;
    position: absolute;
    top: 65%;
    left: 49%;
    display: none;
}

div.upload>div#imageContainer>input#cpos:hover {
    cursor: pointer;
    background-color: hsla(252, 6%, 83%, 0.418);
    text-decoration: underline;
}


div.upload>label>img {
    position: absolute;
    top: 40%;
    left: 48%;
}

div.upload>p {
    text-align: center;
    position: relative;
    top: 50%;
}

main>p#orientacao, #erroVazio, #erroTamanho {
    margin-bottom: 25px;
    font-size: 0.6em;
    position: relative;
    top: 30%;
}

main>p#orientacao::before , #erroVazio::before, #erroTamanho::before{
    content: url(assets/images/icon-info.svg);
    padding: 5px;

}

main>p#erroVazio {
    display: none;
}

main>p#erroTamanho {
    display: none;
}

div.formulario {
    margin: 20px 0px;
    color: white;    
}

div.formulario>label {
    text-align: left;
}

div.formulario>input {
    background-color: hsla(252, 6%, 83%, 0.137);
    color: white;
    margin: 10px 0px 10px;
    display: block;
    width: 100%;
    height: 50px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid hsla(252, 6%, 83%, 0.356);
    margin-bottom: 20px;
}

div.formulario>input:hover {
    background-color: hsla(252, 6%, 83%, 0.26);
    cursor: pointer;
}

div.formulario>input:focus-within {
    border: hsl(0, 0%, 100%);
    background-color: hsla(252, 6%, 83%, 0.137);
    color: white;
}

div.formulario>input#btt {
    background-color: hsl(7, 88%, 67%);
    color: hsl(248, 70%, 10%);
    width: 100%;
    height: 50px;
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid hsl(7, 88%, 67%);
    cursor: pointer;
}

div.formulario>input#btt:hover {
    background-color: hsl(7, 84%, 63%);
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.589);
}

form>div.formulario>p{
    color: hsl(7, 84%, 63%);
    margin-bottom: 25px;
    font-size: 0.6em;
    display: none;
    
}

form>div.formulario>p::before {
    content: url(assets/images/icon-info.svg);
    padding: 5px;
    color: hsl(7, 84%, 63%);
}

.attribution {
    font-size: 11px;
    text-align: center;
    padding: 10px;
    margin-top: 90px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}